.task {
  background: var(--gray-500);
  border-radius: 8px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  gap: 1rem;
  align-items: start;
  border: 1px solid var(--gray-400);
  margin-bottom: 0.75rem;
}

.task input[type="checkbox"] {
  appearance: none;
  width: 1.091rem;
  height: 1.091rem;
  border-radius: 50%;
  border: 2px solid var(--blue);
}

.task input[type="checkbox"]:hover {
  border: 2px solid var(--blue-dark);
  background: rgba(30, 111, 159, 0.2);
  cursor: pointer;
}

.task input[type="checkbox"]:checked {
  background-color: var(--purple-dark);
  border: 0;
}

.task input[type="checkbox"]:checked:hover {
  background-color: var(--purple);
  cursor: pointer;
}

.task input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 0.457rem;
  height: 0.293rem;
  border: 2px solid white;
  border-top: 0;
  border-right: 0;
  position: absolute;
  transform: rotate(-45deg);
  margin-top: 4.5px;
  margin-left: 4px;
}

.taskContent {
  font-size: 0.875rem;
  color: var(--gray-100);
}

.taskCompleted {
  text-decoration: line-through;
  color: var(--gray-300);
}

.deleteButton {
  border: none;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.deleteButton svg {
  color: var(--gray-300);
}

.deleteButton:hover {
  background: var(--gray-400);
  cursor: pointer;
}

.deleteButton:hover svg {
  color: var(--danger)
}